@import "vars";
@import "global";

// start header
.header {
    background-color: $bg;
    color: #fff;
    &__inner {
        height: 90px;
        max-width: 1366px;
        padding: 0 32px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__menu {
        li {
            a {
                color: $htext;
                text-transform: uppercase;
                @include f400;
                font-size: 14px;
                line-height: 16px;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                }
            }
            & + li {
                margin-left: 30px;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
    }
    &__phone {
        margin-right: 24px;
        a {
            font-size: 20px;
            line-height: 23px;
            color: $htext;
        }

        span {
            color: #fff;
        }
    }
    &__btn {
        text-align: center;

        button {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            background-color: $dpurp;
            line-height: 14px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
                0px 2px 4px rgba(0, 0, 0, 0.14);
            border-radius: 20px;
            padding: 13px 38px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.header__logo-link {
    padding-top: 27px;
}
.menu__list {
    display: flex;
}

.menu__link-dropdown {
    padding-right: 26px;
    position: relative;
    &::after {
        content: "";
        background-image: url(../images/shape.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -5px;
        right: 3px;
    }
}

// end header

// start slider

.slider {
    &__item {
        min-height: 640px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__content {
        color: #fff;
        text-align: center;
        top: 268px;
        position: absolute;
        max-width: 350px;
        left: 50%;
        transform: translateX(-50%);
        h1 {
            @include f700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 32px;
        }
    }
    &__subtitle {
        color: #fff;
        opacity: 0.8;
        @include f400;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    &__button {
        max-width: 160px;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        background: #6200ea;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
    }
}

// end slider
